/*Universal Style Rules*/
html {
	font-size: 18px;
}

body {
	background-color: lightcyan;
	background-size: cover;
	color: teal;
	font-family: "Josefin Sans", sans-serif;
}

.content {
	padding-top: 5rem;
	margin-bottom: 10rem;
}

/*Head Nav Section Style Rules*/
nav {
	width: 100%;
	height: 4rem;
	background-color: mintcream;
	border-bottom: 3px solid antiquewhite;	
}

/*Nav Section Style Rules*/
nav a{
	display: inline-flex;
	align-items: center;
	text-decoration: none;
	font-weight: bold;
	font-family: Helvetica;
	color: teal;
	font-size: 1rem;
	margin-top: 1.4rem;
	margin-right: 1.5rem;
}

/*Nav Hover Style Rules*/
nav a:hover {
	font-size: 1rem;
	text-decoration: none;
	padding: .40rem .40rem;
	background-color: antiquewhite;
	color: teal;
	border-radius: 4px;
}

/*Logo Style Rules*/
nav .logo {
	margin-top: -1rem;
	width: 5rem;
}

/*About Section Style Rules*/
.about .box {
	display: flex;
}

.about h1 {
	font-size: 1.50rem;
	font-weight: bold;
	margin-bottom: -1rem;
	margin-top: 2.50rem;
	margin-left: 30rem;
	color: teal;
	background-color: burlywood;
	border-radius: 5px;
	padding: 1rem 3rem;
	width: 10rem;
}

.about img {
	border: 4px burlywood solid;
	border-radius: 10px;
	margin: 2rem 2rem;
	height: 17rem;
}

.abouts {
	border-radius: 6px;
	padding: 0.50rem 0.50rem;
	margin-top: 2.2rem;
	width: 73%;
}

.abouts p {
	padding-top: 1rem;
}

.abouts span {
	font-size: 1.20rem;
	font-weight: bold;
}	

/*Footer Section Style Rules*/
footer {
	width:100%;
	height: 4rem;
	color: teal;
	font-style: italic;
	border-top: 1px solid teal;
	text-align: center;
	padding-top: 1.5rem;
}






