main {
    padding: 6.9em 1em 0 1em;
}

h1 {
    text-align: center;
} 

/*Article_styles*/
article #about_container #about_img {
    border: 3.3px solid #800b44;
    border-radius: 2px;
    box-shadow: 3px 3px 5px darkgray;
    margin: 1em 1em;
    padding: .1em .1em;
    float: left;
    width: 25%;
}

article #about_container .about_text {
    float: right;
    width: 69%;
}

article #about_container .about_text a {
    text-decoration: none;
    color: #800b44;
    font-style: italic;
}

article #about_container .about_text a:hover {
    text-decoration: underline;
}

article #about_container .about_text #who_am_i {
    background: white;
    padding: .1em .5em;
}

/*Media_Queries*/
@media only screen and (max-width: 430px) {
    article #about_container #about_img {
        width: 40%;
        margin-left: 6.5em;
    }
    article #about_container .about_text {
        width: 100%;
    }
}