/*UniversalStyleRules*/
html {
	font-size: 18px;
}

body {
	color: teal;
	font-family: 'Quicksand', sans-serif;
}
.content {
	margin-bottom: 5rem;
}

h1 {
	text-align: center;
}

/*HeadNavSectionStyleRules*/
nav {
	width: 100%;
	height: 4rem;
	background-color: mintcream;
	border-bottom: 1px solid antiquewhite;	
}

/*NavSectionStyleRules*/
nav a{
	display: inline-flex;
	align-items: center;
	text-decoration: none;
	font-weight: bold;
	color: teal;
	font-size: 1rem;
	margin-top: 1.2rem;
	margin-right: 1rem;
	margin-left: 1rem;
	opacity: 0.6;
}

/*NavHoverStyleRules*/
nav a:hover {
	opacity: 1;
	transition-property: transform, opacity;
	transition-duration: 400ms;
	transform: transition(10);
	transform: scale(1.3);
	color: dimgray;
	text-decoration: none;
}

/*LogoStyleRules*/
nav .logo {
	margin-top: -1rem;
	margin-right: .10rem;
	width: 5rem;
}	
	
/*NotesStyleRules*/	
.intro {
	text-align: center;
}

.names {
	font-size: 1.2rem;
}

.names span{
	color: Coral;
}
	
/*NotationStyleRules*/
.notation .box img {
	padding: 2rem;
	width: 55%;
	display: block;
	margin: auto;
}

.box p {
	text-align: center;
	margin-top: -1.5rem;
	font-weight: bold;
	font-size: 1rem;
}

.box1 img{
	padding: 2rem;
	width: 35%;
	display: block;
	margin: auto;
}

.box1 p {
	font-size: 1rem;
	font-weight: bold;
	text-align: center;
	margin-top: -1.5rem;
}
	
/*FooterSectionStyleRules*/
footer {
	width:100%;
	color: teal;
	font-style: italic;
	border-top: 1px solid teal;
	text-align: center;
	padding-top: 1.5rem;
}

i{
	margin-top: 1rem;
	color: dimgray;
	padding: 1rem 1rem;
	margin-left: 1rem;
	opacity: 0.6;
	transition: transform 500ms, opacity 500ms;
	
 }
 
 i:hover {
	opacity: 1;
	transition-property: transform, opacity;
	transition-duration: 500ms, 500ms;
	transform: transition(10);
	transform: scale(1.3);
 }