/*Universal Style Rules*/
html {
	font-size: 18px;
}

body {
	color: teal;
	font-family: "Josefin Sans", sans-serif;
}

h1 {
	text-align: center;
}

/*FontAwesome style rules*/
 nav i{
	text-decoration: none;
	color: teal;
	margin-top: 1.2rem;
	margin-right: 1rem;
	margin-left: 1.5rem;
	opacity: 0.6;
}

/*Nav Hover Style Rules*/
nav i:hover {
	opacity: 1;
	transition-property: transform, opacity;
	transition-duration: 400ms;
	transform: transition(10);
	transform: scale(1.3);
	color: dimgray;
	text-decoration: none;
}