/*Universal Style Rules*/
html {
	font-size: 18px;

}

body {
	background-color: white;
	background-size: cover;
	color: teal;
	font-family: 'Quicksand', sans-serif;
}

.content {
	margin-top: 5rem;
	margin-bottom: 12rem;

}

h1, h4 {
	text-align: center;
	line-height: 25px;
}

h1 {
	padding: 1rem;
}

/*Head Nav Section Style Rules*/
nav {
	width: 100%;
	height: 4rem;
	background-color: mintcream;
	border-bottom: 3px solid antiquewhite;	
}

/*Nav Section Style Rules*/
nav a{
	display: inline-flex;
	align-items: center;
	text-decoration: none;
	font-weight: bold;
	color: teal;
	font-size: 1rem;
	margin-top: 1.2rem;
	margin-right: 1rem;
	margin-left: 1rem;
	opacity: 0.6;
}

/*Nav Hover Style Rules*/
nav a:hover {
	opacity: 1;
	transition-property: transform, opacity;
	transition-duration: 400ms;
	transform: transition(10);
	transform: scale(1.3);
	color: dimgray;
	text-decoration: none;
}

/*Logo Style Rules*/
nav .logo {
	margin-top: -1rem;
	margin-right: .10rem;
	width: 5rem;
}

.projects h1 {
	background-image: url("background/5102.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 45rem 22rem;
	height: 20rem;
	font-weight: bold;
	font-size: 3rem;
	padding-top: 8rem;
	text-align: center;
	margin-bottom: 2rem;
	text-shadow: 3px 1px 2px white;
	color: navy;
}

/*Projects Style Rules*/
.khan span {
	font-size: 1rem;
}

.khan {
	width: 90%;
}

.khan img {
	width: 95.5%;
	padding: .50rem;
}

/*codecademy Section Style Rules*/
.codecademy li {
	font-size: 1rem;
}

/*Footer Section Style Rules*/
footer {
	width:100%;
	color: teal;
	font-style: italic;
	border-top: 1px solid teal;
	text-align: center;
	padding-top: 1.5rem;
}

i{
	margin-top: 1rem;
	color: dimgray;
	padding: 1rem 1rem;
	margin-left: 1rem;
	opacity: 0.6;
	transition: transform 500ms, opacity 500ms;
	
 }
 
 i:hover {
	opacity: 1;
	transition-property: transform, opacity;
	transition-duration: 500ms, 500ms;
	transform: transition(10);
	transform: scale(1.3);
 }