/*Universal Style Rules*/
html {
	font-size: 18px;
}

body {
	background-color: white;
	background-size: cover;
	color: bisque;
	font-family: 'Quicksand', sans-serif;
}

.content {
	padding-top: 6rem;
	margin-bottom: 2rem;
}

/*Head Nav Section Style Rules*/
nav {
	width: 100%;
	height: 4rem;
	background-color: mintcream;
	border-bottom: 3px solid antiquewhite;	
}

/*Nav Section Style Rules*/
nav a{
	display: inline-flex;
	align-items: center;
	text-decoration: none;
	font-weight: bold;
	color: teal;
	font-size: 1rem;
	margin-top: 1.2rem;
	margin-right: 1rem;
	margin-left: 1rem;
	opacity: 0.6;
}

/*Nav Hover Style Rules*/
nav a:hover {
	opacity: 1;
	transition-property: transform, opacity;
	transition-duration: 400ms;
	transform: transition(10);
	transform: scale(1.3);
	color: dimgray;
	text-decoration: none;
}

/*Logo Style Rules*/
nav .logo {
	margin-top: -1rem;
	margin-right: .10rem;
	width: 5rem;
}

/*drop down*/
.dropdown {
	display: inline-flex;
	justify-content: space-between;
	width: 100%;
	height: 4.5rem;
	background-color: mintcream;
	border-bottom: 2px solid antiquewhite;	
}

.dropdown .btn {
	margin-top: -5.40rem;
	background-color: mintcream;
}

.dropdown i {
	height: 3rem;
	width: 2rem;
	text-align: center;
	margin-left: -1rem;
}

.dropdown-menu li a{
	font-family: 'Quicksand', sans-serif;
}

/*Logo Style Rules*/
.dropdown .logo {
	margin-top: -1rem;
	margin-right: .10rem;
	width: 5rem;
}

/*Slide Section Style Rules*/
.carousel {
	width: 100%;
	color: whitesmoke;
	text-shadow: 2px 2px 2px gray;
}

h2, h1 {
	font-weight: bold;
	font-size: 2rem;
}

.text {
	margin-top: 8rem;
}

.mobile .text {
	margin-top: 2rem;
}

/*Welcome Section Style Rules*/
.welcome, .welcome_mobile{
	height: 30rem;
	background-position: center;	
	background-image: url("background/55-3 - Copy.jpg");
	background-repeat: no-repeat;
	background-size: 50rem 30rem;
}

.welcome_mobile {
	height: 15rem;
	background-size: 25rem 15rem;
}

.mobile h1, .mobile h2{
	font-size: 1.3rem;
	font-weight: bold;
}

.welcome h1, .welcome_mobile h1 {
	color: white;
	font-weight: bold;
	text-shadow: 2px 2px 2px black;
}

/*about style rules*/
.about, .about_mobile {
	height: 30rem;
	background-position: center;
	background-image: url("background/camara.jpg");
	background-repeat: no-repeat;
	background-size: 50rem 30rem;
}

.about_mobile {
	height: 15rem;
	background-size: 25rem 15rem;
}

/*Guitar section*/
.guitar, .guitar_mobile{
	height: 30rem;
	background-position: center;	
	background-image: url("background/cherryguitar.jpg");
	background-repeat: no-repeat;
	background-size: 50rem 30rem;
}

.guitar_mobile {
	height: 15rem;
	background-size: 25rem 15rem;
}

.guitar h2 {
	margin-bottom: 2rem;
}

/*Blog Sectio Style Rules*/
.blog, .blog_mobile {
	height: 30rem;
	background-position: center;	
	background-image: url("background/jumbotron-flowers.jpg");
	background-repeat: no-repeat;
	background-size: 50rem 30rem;
}

.blog_mobile {
	height: 15rem;
	background-size: 25rem 15rem;
}

.blog h2 {
	margin-bottom: 2rem;
}

/*Projects Sectio Style Rules*/
.projects, .projects_mobile {
	height: 30rem;
	background-position: center;	
	background-image: url("background/5102.jpg");
	background-repeat: no-repeat;
	background-size: 50rem 30rem;
}

.projects_mobile {
	height: 15rem;
	background-size: 25rem 15rem;
}

.projects h2 {
	margin-bottom: 2rem;
}

/*Font Awesome Style Rules*/
.icons {
	text-align: center;
}

i{
	margin-top: 4rem;
	color: dimgray;
	padding: 2rem 2rem;
	opacity: 0.6;
	transition: transform 500ms, opacity 500ms;
 }
 
 i:hover {
	opacity: 1;
	transition-property: transform, opacity;
	transition-duration: 500ms, 500ms;
	transform: transition(10);
	transform: scale(1.3);
 }

.mobile i{
	margin-top: 4rem;
	color: dimgray;
	padding: 1rem 1rem;
	opacity: 0.6;
	transition: transform 500ms, opacity 500ms;
}
 
.mobile i:hover {
	opacity: 1;
	transition-property: transform, opacity;
	transition-duration: 500ms, 500ms;
	transform: transition(10);
	transform: scale(1.3);
}

/*Footer Section Style Rules*/
footer {
	bottom: 0;
	width:100%;
	height: 5rem;
	color: teal;
	font-style: italic;
	border-top: 1px solid teal;
	text-align: center;
	padding-top: 1.5rem;
	padding-bottom: 1rem;
}