body {
    font-family: caveat;
    background: olive;
    color: tan;
    text-align: center;
    text-shadow: black 1px 1px 1px;
}

main {
margin-top: 4em;
}

h1 {
    font-size: 4em;
    animation: shakeNameIn 1s ease-in-out infinite;
}

p {
    font-size: 2em;
    text-align: center;
    padding: 1em 1em;
}

blockquote {
    font-size: 2em;
    padding: 0 2em;
}

span {
    font-size: 1.6em;
}

#glasses {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    position: absolute;
    top: 410px;
    left: 300px;
    color: black;
    box-shadow: 150px 240px 0 0 currentColor,
                300px 240px 0 0 currentColor;
}

#inside { 
    width: 141px;
    height: 143px;
    border-radius: 50%;
    position: absolute;
    top: 18px;
    left: 20px;
    color: tan;
    box-shadow: 150px 240px 0 0 currentColor, 
                300px 240px 0 0 currentColor;  
}

#eyes {
    width: 50px;
    height: 55px;
    border-radius: 50%;
    position: absolute;
    top: 54px;
    left: 20px;
    color: darkcyan;
    box-shadow: 150px 240px 0 0 currentColor, 
                300px 240px 0 0 currentColor;
}

#mustache {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    position: absolute;
    left: 300px;
    color: black;
    box-shadow: 150px 240px 0 0 currentColor,
                300px 240px 0 0 currentColor;
}

#mustache::before {
    content: "";
    position: absolute;
    left: 30px;
    top:120px;
    width: 210px;
    height: 120px;
    border-bottom: solid 180px currentColor;
	border-radius: 0 0 0 100%;
	transform: rotate(-40deg);
	transform-origin: right 210px; 	
	animation: shakeLeft 1s ease-in-out infinite;
}

#mustache::after {
	content: "";
	position: absolute;
	left: 390px;
	top: 120px;
	width: 210px;
	height: 120px;
	border-bottom: solid 180px currentColor;
	border-radius: 0 0 100% 0;
	transform: rotate(40deg);
	transform-origin: left 210px; 	
	animation: shakeRight 1s ease-in-out infinite;
}

@keyframes shakeNameIn {
    0% {
        transform: rotate(0deg);
    }
    
    20% {
        transform: rotate(10deg);
    }
    40% {
        transform: rotate(20deg);
    }
    60% {
        transform: rotate(10deg);
    }
    80% {
        transform: rotate(5deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

@keyframes shakeLeft {
	0% {
		transform: rotate(-50deg);
	}
	50% {
		transform: rotate(-30deg);
	}
	100% {
		transform: rotate(-50deg);
	}
}

@keyframes shakeRight {
	0% {
		transform: rotate(50deg);
	}
	50% {
		transform: rotate(30deg);
	}
	100% {
		transform: rotate(50deg);
	}
}

@media screen only and (max-width:)