/*Main_Styles*/
main {
    width: 97%;
    padding: 6.9em 1em 0 1em;
}

/*About_Styles*/
article #about_container h1 {
    text-align: center;
    font-size: 3em;
}

article #about_container #about_img {
    border: 3.5px solid #800b44;
    border-radius: 3px;
    box-shadow: 3px 3px 5px darkgray;
    float: left;
    width: 25%; 
}

article #about_container .about_text {
    width: 70%;
    float: right;
}

article #about_container .about_text a {
    text-decoration: none;
    color: #800b44;
    font-style:italic;
}

article #about_container .about_text a:hover {
    text-decoration: underline;
}

article #about_container .about_text #who_am_i {
    background: white;
    padding: .5em .5em;
}

/*Media_Queries*/
@media only screen and (max-width: 430px) {
    #about_container {
       float: none;
    }
}