/*Main_Styles*/
main {
    padding: 6.9em .5em .5em .5em;
    margin-bottom: 1.4em;
}

/*Welcome_Styles*/
#welcome_container {
    display: grid;
    justify-content: center;
    width: 100%;
    margin-top: 2.5em;
}

#welcome_container #welcome_content {
    display: grid;
    justify-content: center;
    grid-auto-rows: 100%;
    grid-auto-columns: 100%;
    background-image: url("../pictures/background/marble.jpg");
    box-shadow:  whitesmoke 1px 1px 2px;
 
    padding: 1em 1em;
    text-align: center;
}

#welcome_container #welcome_content #welcome_sub {
    z-index: 1;
    display: grid;
    align-self: center;
    text-align: center;
    grid-auto-rows: 100%;
    grid-auto-columns: 100%;
    background: gainsboro;
    opacity: .8;
    color: black;
    padding: .5em .5em;
    margin: 1em 1em;
    box-shadow: dimgray 1px 1px 2px;
    text-shadow: dimgray 1px 1px 1px;
    border-radius: 3px;
}

#welcome_container #welcome_content #welcome_sub p a {
    text-decoration: none;
    color: #800b44;
    text-shadow: grey 1px 1px 1px;
}

#welcome_container #welcome_content #welcome_sub p span {
    color: red;
}

#welcome_container #welcome_content #welcome_sub p a:hover {
    color: black;
    text-shadow: violet 1px 1px 1px;
    text-decoration: underline;
}