/*Universal_styles*/
body{
	font-family: Open Sans Condensed;
	margin: 0 auto;
}

p {
	font-size: 1.4em;
}

h1 {
	font-size: 3em;
}

.clearfix {
	clear: both;
}

/*Main_container_styles*/
#head {
	position: fixed;
	background: white;
	width: 100%;
	padding: 1em 1em;
	border-bottom: 2px solid darkgoldenrod;
	margin-top: -8em;
	z-index: 1;
}
#head #logo{
	width: 13em;
	padding-left: 1.5em 1em 1em 1em;
}

#head i {
	font-size: 1.7em;
	float: right;
	padding: 1.5em 1.2em;
	color: black;
	text-shadow: 2px 2px 2px gray;
}

#head i:hover {
	transition-duration: 400ms;
	color: rgb(61,60,60);
	transform: scale(1.3);
}

#sub-header {
	width: 100%;
	margin-top: 8em;
	margin-bottom: 16em;
}

#sub-header article {
	width: 100%;
	position: relative;
}

#sub-header img {
	width: 100%;
	border-bottom: 2px solid darkgoldenrod;
}

#sub-header article #welcome-text {
	position: absolute;
	bottom: 30%;
    left: 34%;
	background: rgba(0,0,0,.75);
	padding: 2em 2em;
	color: white;
	box-shadow :2px 2px 3px black;
}
