/*Main_Styles*/
    main {
        width: 97%;
        padding: 6.9em .5em .5em .5em;
        margin-bottom: 1em;
    }

    #welcome {
        display: grid;
        justify-content: center;
        width: 100%;
        margin-top: 2.5em;
    }

    #welcome #welcome-content {
        display: grid;
        justify-content: center;
        background-image: url("../pictures/background/marble.jpg");
        width: 100%;
        height: 21.8em;
        padding: 2em 2em;
    }

    #welcome #welcome-content #welcome-sub {
        z-index: 1;
        display: grid;
        align-self: center;
        text-align: center;
        background: gainsboro;
        opacity: .8;
        width: 90%;
        color: black;
        padding: 1.5em 1em;
        box-shadow: gray 1px 1px 2px, 
                    gray -1px -1px 2px;
        text-shadow: dimgray 1px 1px 1px;
        border-radius: 2px;
        margin: auto;
    }

    #welcome #welcome-content #welcome-sub p a {
        text-decoration: none;
        color: #800b44;
        text-shadow: grey 1px 1px 1px;
    }
    
    #welcome #welcome-content #welcome-sub p span {
        color: red;
    }

    #welcome #welcome-content #welcome-sub p a:hover {
        color: black;
        text-shadow: violet 1px 1px 1px;
        text-decoration: underline;
    }

/*Media_querys*/
@media only screen and (max-width: 430px) {
    #social-icons i {
        font-size: 3em;
    }
    #welcome {
        margin-top: 2em;
    }
}
